<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    
   
    @{
        Html.RenderPartial("_myPartialView");
    }
       
    <div>
        @RenderBody()
    </div>
    <footer class="panel-footer">
        @*RenderSection("footer", true)*@
        @{
            Html.RenderPartial("_PartialFooterView");
        }
    </footer>
</body>
</html>

